[user]
    name = Timothy Harding
    email = timothy@harding.vip
    signingKey = ~/.ssh/id_ed25519.pub

[init]
    defaultBranch = main

[alias]
    all = !git add .
    root = rev-parse --show-toplevel
    echo = rev-parse --abbrev-ref
    upstream = echo '@{upstream}'
    reword = commit --amend --only
    amend = commit --amend --no-edit
    last-sha = rev-list @^..@
    last-msg = log -1 --pretty=%B
    axe = log --source --all --color --patch --pickaxe-all --regexp-ignore-case -G
    fp = push --force-with-lease --force-if-includes
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'

[url "git@github.com:"]
    insteadOf = "gh:"
    insteadOf = "https://github.com/"

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[core]
    excludesFile = ~/.gitignore.local
    fsmonitor = true
    untrackedCache = true
    whitespace = trailing-space
    autocrlf = false

[clean]
    requireForce = false

[status]
    branch = true
    submoduleSummary = true

[log]
    date = iso

[gpg]
    format = ssh

[grep]
    patterntype = perl

[feature]
    ; Setting due to https://github.com/folke/lazy.nvim/issues/2046
    experimental = false

[column]
    ui = auto

[commit]
    verbose = true

[tag]
    sort = version:refname

[pull]
    rebase = true
    autostash = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[rebase]
    autostash = true
    autosquash = true
    updateRefs = true

[push]
    autoSetupRemote = true
    followTags = true

[merge]
    conflictstyle = zdiff3
    keepbackup = false
    tool = meld

[diff]
    colorMoved = default
    algorithm = histogram
    compactionHeuristic = true
    mnemonicPrefix = true
    renames = true
    submodule = log

[submodule]
    recurse = true

[advice]
    skippedCherryPicks = false
    detachedHead = false

[rerere]
    enabled = true
    autoupdate = true

[branch]
    autoSetupMerge = simple
    sort = -committerdate

[help]
    autocorrect = prompt

[include]
    path = ~/.gitconfig.local
    path = ~/.gitconfig.delta
