[user]
    name = Timothy Harding
    email = timothy@harding.vip
    signingKey = ~/.ssh/id_ed25519.pub

[init]
    defaultBranch = main

[alias]
    all = !git add .
    root = rev-parse --show-toplevel
    echo = rev-parse --abbrev-ref
    upstream = echo '@{upstream}'
    reword = commit --amend --only
    amend = commit --amend --no-edit
    last = rev-list @^..@
    axe = log --source --all --color --patch --pickaxe-all --regexp-ignore-case -G
    fp = push --force-with-lease --force-if-includes
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

[url "git@github.com:"]
    insteadOf = "gh:"
    insteadOf = "https://github.com/"

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[core]
    pager = delta
    excludesFile = ~/.gitignore.local
    fsmonitor = true
    untrackedCache = true
    whitespace = trailing-space
    autocrlf = false

[clean]
    requireForce = false

[status]
    branch = true
    submoduleSummary = true

[maintenance]
    auto = true
    strategy = incremental

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    hyperlinks = true
    max-line-length = 0
    true-color = always
    syntax-theme = base16
    minus-style = syntax italic normal
    minus-emph-style = red italic reverse normal
    plus-style = syntax bold normal
    plus-emph-style = green bold reverse normal
    line-numbers-minus-style = red italic auto
    line-numbers-plus-style = green bold auto
    line-numbers-zero-style = black auto
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = black
    line-numbers-right-style = black
    blame-palette = "#232634" "#292c3c" "#303446"
    blame-format = {author:<15.14} {commit:<8}
    blame-separator-format = ""
    commit-decoration-style = black ul
    file-style = dim
    file-decoration-style = black bold ul
    hunk-header-style = syntax
    hunk-header-file-style = dim
    hunk-header-line-number-style = dim
    hunk-header-decoration-style = black bold
    merge-conflict-ours-diff-header-decoration-style = black bold ul
    merge-conflict-theirs-diff-header-decoration-style = black bold ul

; Note:
; For less fine-grained matching than the default try
; --word-diff-regex="\S+" --max-line-distance=1.0
; (this is more similar to `git --word-diff`).
;
; 🭭▼▽ 🭯▲△ options for merge-conflict-begin/end-symbol (middle is default)
;
; TODO: Delta features https://dandavison.github.io/delta/features-named-groups-of-settings.html
; - Highlight lines with
;   - red/brightred/green/brightgreen background
;   - no syntax highlight
;   - map-styles = bold purple => syntax magenta, bold cyan => syntax blue (for moved lines)
; - +/- instead of line numbers
;
; TODO: Customize hyperlinks
; https://dandavison.github.io/delta/hyperlinks.html

[log]
    date = iso

[gpg]
    format = ssh

[grep]
    patterntype = perl

[feature]
    experimental = true

[column]
    ui = auto

[commit]
    verbose = true

[tag]
    sort = version:refname

[pull]
    rebase = true
    autostash = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[rebase]
    autostash = true
    autosquash = true
    updateRefs = true

[push]
    autoSetupRemote = true
    followTags = true

[merge]
    conflictstyle = zdiff3
    keepbackup = false
    tool = meld

[diff]
    colorMoved = default
    algorithm = histogram
    compactionHeuristic = true
    mnemonicPrefix = true
    renames = true
    submodule = log

[submodule]
    recurse = true

[advice]
    skippedCherryPicks = false
    detachedHead = false

[rerere]
    enabled = true
    autoupdate = true

[branch]
    autoSetupMerge = simple
    sort = -committerdate

[help]
    autocorrect = prompt

[include]
    path = ~/.gitconfig.local
