/*
!/gnupg
!/.gitignore
!/i3
!/alacritty
!/fish
!/nvim
!/tealdeer
!/helix
!/ripgrep
!/sway
!/swaylock
!/tofi
!/ra-multiplex
!/systemd
!/wezterm
!/misc
!/README.md
!/xdg-desktop-portal
!/hypr
!/bat
!/kitty
!/pacman
!/navi
!/wireplumber
!/ruby
!/zellij
!/evremap
