[user]
    name = Timothy Harding
    email = Tim@TimHarding.co

[init]
    defaultBranch = main

[alias]
    fp = push --force-with-lease --force-if-includes
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[core]
    pager = delta
    excludesFile = ~/.gitignore.local

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    syntax-theme = base16
    minus-style = syntax italic normal
    minus-emph-style = red italic reverse normal
    plus-style = syntax bold normal
    plus-emph-style = green bold reverse normal
    line-numbers-minus-style = red italic auto
    line-numbers-plus-style = green bold auto
    true-color = always

[pull]
    rebase = true
    autostash = true

[rebase]
    autostash = true
    autosquash = true

[push]
    autoSetupRemote = true

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default
    algorithm = histogram

[advice]
	skippedCherryPicks = false

[rerere]
    enabled = true

[branch]
    autoSetupMerge = simple

[include]
    path = ~/.gitconfig.local
