[Desktop Entry]
Type=Application
Version=1.0
Name=Neophyte
Comment=Neovim frontend rendered with wgpu-rs
Path=/home/tim/
Exec=/usr/bin/fish -c neo
Icon=Neophyte
Terminal=false
Categories=Education;Languages;Java;
